[Desktop Entry]
Name=Slow control
Comment=HV control
Exec=bash -c "cd ~/programms/pyslow; python3 /home/admin/programms/pyslow/start.py"
Terminal=true
Type=Application
StartupNotify=false
Categories=TextEditor;Development;IDE;
Keywords=slow_control;