[Desktop Entry]
Name=Slow control
Comment=HV control
Exec=/opt/slow_control/pyslow/start.sh
Icon=/opt/slow_control/pyslow/icon.png
Terminal=true
Type=Application
StartupNotify=false
Categories=Development;
Keywords=slow_control;