[Desktop Entry]
Name=Slow control
Comment=HV control
Exec=sh -c "source /opt/software/pyslow/venv/bin/activate; cd /opt/software/pyslow; python /opt/software/pyslow/start.py"
Icon=/opt/software/pyslow/icon.png
Terminal=true
Type=Application
StartupNotify=true
Categories=Development;
Keywords=slow_control;