-{
-    "python.linting.enabled": true,
-    "python.pythonPath": "/usr/local/bin/python3",
-    "python.autoComplete.extraPaths": [
-        ".", 
-        "control/",
-        "lib/hvsys/",
-        "lib/workers/"
-    ],
-}
